*{
    border: 1px solid red !important;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.head_section{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 500px;

}
