<!doctype html>
<html>
    <head>
        <title>Article Link</title>
    </head>

<body>
    <h1>Articles of type "{{article_type.name}}"</h1>
    <h3>{{article.title}}</h3>
        <br><a href="{{article.link}}">{{article.link}}</a>
        <br>Type: {{article.article_type.name}}
        <br>Rating: {{article.rating}}
        <br>About: {{article.about}}
        <br>Post Created by: {{article.created_by.user_name}}
        <br>Last Updated by: {{article.last_updated_by.user_name}}
        <br>
        <br>{% for tag in tag_list %}
            <em>{{tag.tag_name}},</em>
            {% endfor %}
        </p>
        <p><h4>Comments:</h4>
        <br><a href="{{url_for('addNewComment', article_id=article.id)}}">New Comment</a>
        <ul>{% for comment in comments_list %}
        <li>{{comment.text}}
            <br>By {{comment.user.user_name}}
        </li>
        {% endfor %}
        </ul>
        </p>
        <a href="{{url_for('editArticle', article_id=article.id)}}">Edit</a>
        <br><a href="{{url_for('deleteArticle', article_id=article.id)}}">Delete</a>
</p>
</body>
</html>
